.offset {
  margin-top: 100px;
}

.form {
  padding: 0 20px;
}

.formButtons {
  margin-top: 20px;
}

.textAlign {
  text-align: start !important;
}

.verticalCenter {
  margin: auto !important;
}

.linkDecoration, .linkDecoration:hover {
    color: #fff;
    text-decoration: none;
}
